@using UN.CYBERCOM.ViewModels
@using UN.CYBERCOM.Web.Helpers
@using System.Threading;
@inherits ReactiveComponentBase<AddDocumentViewModel>
@if(ViewModel != null)
{
    <button class="btn btn-primary" @onclick="ViewModel.Open.BindCommand<MouseEventArgs>()"><i class="fa-solid fa-plus"></i></button>
    <TelerikDialog Title="Add Document" @bind-Visible="ViewModel.IsOpen">
        <DialogContent>
            <TelerikForm Model="ViewModel">
                <FormItems>
                    <FormItem Field="@nameof(AddDocumentViewModel.Title)" LabelText="Ttile"></FormItem>
                    <FormItem Field="@nameof(AddDocumentViewModel.Url)" LabelText="Url"></FormItem>
                    @if (ViewModel.CanHashUrl)
                    {
                        <FormItem LabelText="Document Hash" Field="@nameof(AddDocumentViewModel.DocumentHash)">
                            <Template>
                                <TelerikButton OnClick="ViewModel.HashUrl.BindCommand<MouseEventArgs>()">Hash</TelerikButton>
                                @ViewModel.DocumentHash
                            </Template>
                        </FormItem>
                    }
                    @if (ViewModel.CanSignHash)
                    {
                        <FormItem LabelText="Signature" Field="@nameof(AddDocumentViewModel.Signature)">
                            <Template>
                                <TelerikButton OnClick="ViewModel.SignHash.BindCommand<MouseEventArgs>()">Sign</TelerikButton>
                                @ViewModel.Signature
                            </Template>
                        </FormItem>
                    }
                    @if (ViewModel.CanAdd)
                    {
                        <FormItem>
                            <Template>
                                <TelerikButton OnClick="ViewModel.Add.BindCommand<MouseEventArgs>()">Add</TelerikButton>
                            </Template>
                        </FormItem>
                        
                    }
                </FormItems>
                
            </TelerikForm>
        </DialogContent>
    </TelerikDialog>
}
@code{

}