@page "/"
@using UN.CYBERCOM.ViewModels
@using UN.CYBERCOM.Web.Helpers
@using UN.CYBERCOM.Contracts.CybercomDAO.ContractDefinition
@using System.Threading;
@inherits ReactiveInjectableComponentBase<CybercomViewModel>
@inject IJSRuntime JSRun
<PageTitle>UNofficial CYBERCOM</PageTitle>
<h3>UNofficial CYBERCOM</h3>
@if (ViewModel != null)
{
    <AlertView Alert="ViewModel.Alert" />
    @if(ViewModel.AccountNumber != null)
    {
        <h5>Wallet: @ViewModel.AccountNumber</h5>
        @if (ViewModel.IsLoading)
        {
            <p>Loading...</p>
        }
        else if (!ViewModel.IsDeployed)
        {
            <button type="button" @onclick="ViewModel.Deploy.BindCommand<MouseEventArgs>()">Deploy</button>
        }
        else
        {
            <p>Contract: @ViewModel.ContractAddress</p>
            <p>Voting: @ViewModel.VotingAddress</p>
            <p>Council Management: @ViewModel.CouncilManagerAddress</p>
            <button @onclick="ViewModel.Load.BindCommand<MouseEventArgs>()" type="button">Reload</button>
            <TelerikDropDownList TItem="CouncilViewModel" TValue="string" Data="ViewModel.Councils" TextField="Name" @bind-Value="ViewModel.SelectedCouncilRole" ValueField="Role"/>
            @if (ViewModel.SelectedCouncil != null)
            {
                <TelerikDropDownList TItem="CouncilGroupViewModel" TValue="string" Data="ViewModel.SelectedCouncil.Groups" TextField="Name" ValueField="Id" @bind-Value="ViewModel.SelectedCouncil.SelectedGroupId" />
                @if (!string.IsNullOrEmpty(ViewModel.SelectedCouncil.SelectedGroupId))
                {
                    <p>
                        <label>Address</label>
                        <TelerikTextBox @bind-Value="ViewModel.NewMemberAddress" />
                    </p>

                    <p>
                        <label>Nation Name</label>
                        <TelerikTextBox @bind-Value="ViewModel.NewNationName" />
                    </p>
                    <button @onclick="ViewModel.MembershipRequest.BindCommand<MouseEventArgs>()" type="button">Request Membership</button>
                }
            }
            <h2>Nations</h2>
            <TelerikGrid Data="ViewModel.Nations">
                <GridColumns>
                    <GridColumn Field="@nameof(Nation.Id)" Title="Address"/>
                    <GridColumn Field="@nameof(Nation.Name)" Title="Name" />
                </GridColumns>
            </TelerikGrid>
            <h2>Entered Membership Requests</h2>
            <TelerikGrid Data="ViewModel.EnteredMembershipProposals">
                <GridColumns>
                    <GridColumn Field="Id" Title="Id" />
                    <GridColumn Field="NewNation.Id" Title="Nation Address" />
                    <GridColumn Field="NewNation.Name" Title="Nation Name" />
                    <GridColumn>
                        <Template>
                            @if (((MembershipProposalViewModel)context).CanStartVoting)
                            {
                                <TelerikButton OnClick="((MembershipProposalViewModel)context).StartVoting.BindCommand<MouseEventArgs>()">Start Voting</TelerikButton>
                            <AddDocumentView ViewModel="((ProposalViewModel)context).AddDocumentVM" />
                                
                                
                            }
                            <ul>
                                @foreach (var doc in ((ProposalViewModel)context).Documents)
                                {
                                    <li>
                                        <a href="@doc.Url" target="_blank">@doc.Title</a>
                                        <p>Document Hash: @doc.DocumentHash <TelerikButton OnClick="doc.VerifyDocumentHash.BindCommand<MouseEventArgs>()">Verify Hash</TelerikButton> Verified: @doc.DocumentHashIsValid</p>
                                        <p>Signature: @doc.Signature</p>
                                        <p>Signer: @doc.Signer</p>
                                        <p>Document Address: @doc.Address</p>
                                    </li>
                                }
                            </ul>
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>
            <h2>Pending Membership Requests</h2>
            <TelerikGrid Data="ViewModel.PendingMembershipProposals">
                <GridColumns>
                    <GridColumn Field="Id" Title="Id" />
                    <GridColumn Field="NewNation.Id" Title="Nation Address" />
                    <GridColumn Field="NewNation.Name" Title="Nation Name"/>
                    <GridColumn Field="Duration" Title="Voting Experation Date"/>
                    <GridColumn>
                        <Template>
                            @if(((MembershipProposalViewModel)context).CanTally)
                            {
                                <TelerikButton OnClick="((MembershipProposalViewModel)context).Tally.BindCommand<MouseEventArgs>()">Tally</TelerikButton>
                            }
                            <MembershipProposalVoteView ViewModel="(MembershipProposalViewModel)context" />
                            <ul>
                                @foreach (var doc in ((ProposalViewModel)context).Documents)
                                {
                                    <li>
                                        <a href="@doc.Url" target="_blank">@doc.Title</a>
                                        <p>Document Hash: @doc.DocumentHash <TelerikButton OnClick="doc.VerifyDocumentHash.BindCommand<MouseEventArgs>()">Verify Hash</TelerikButton> Verified: @doc.DocumentHashIsValid</p>
                                        <p>Signature: @doc.Signature</p>
                                        <p>Signer: @doc.Signer</p>
                                        <p>Document Address: @doc.Address</p>
                                    </li>
                                }
                            </ul>
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>
            <h2>Ready for Final Tally</h2>
            <TelerikGrid Data="ViewModel.ReadyMembershipProposals">
                <GridColumns>
                    <GridColumn Field="Id" Title="Id" />
                    <GridColumn Field="NewNation.Id" Title="Nation Address" />
                    <GridColumn Field="NewNation.Name" Title="Nation Name" />
                    <GridColumn Field="Duration" Title="Voting Experation Date" />
                    <GridColumn>
                        <Template>
                            @if (((MembershipProposalViewModel)context).CanCompleteTally)
                            {
                                <TelerikButton OnClick="((MembershipProposalViewModel)context).CompleteTally.BindCommand<MouseEventArgs>()">Complete</TelerikButton>
                            }
                            <MembershipProposalVoteView ViewModel="(MembershipProposalViewModel)context" />
                            <ul>
                                @foreach (var doc in ((ProposalViewModel)context).Documents)
                                {
                                    <li>
                                        <a href="@doc.Url" target="_blank">@doc.Title</a>
                                        <p>Document Hash: @doc.DocumentHash <TelerikButton OnClick="doc.VerifyDocumentHash.BindCommand<MouseEventArgs>()">Verify Hash</TelerikButton> Verified: @doc.DocumentHashIsValid</p>
                                        <p>Signature: @doc.Signature</p>
                                        <p>Signer: @doc.Signer</p>
                                        <p>Document Address: @doc.Address</p>
                                    </li>
                                }
                            </ul>
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>
            <h2>Rejected</h2>
            <TelerikGrid Data="ViewModel.RejectedMembershipProposals">
                <GridColumns>
                    <GridColumn Field="Id" Title="Id" />
                    <GridColumn Field="NewNation.Id" Title="Nation Address" />
                    <GridColumn Field="NewNation.Name" Title="Nation Name" />
                    <GridColumn Field="Duration" Title="Voting Experation Date" />
                    <GridColumn>
                        <Template>
                            <MembershipProposalVoteView ViewModel="(MembershipProposalViewModel)context" />
                            <ul>
                                @foreach (var doc in ((ProposalViewModel)context).Documents)
                                {
                                    <li>
                                        <a href="@doc.Url" target="_blank">@doc.Title</a>
                                        <p>Document Hash: @doc.DocumentHash <TelerikButton OnClick="doc.VerifyDocumentHash.BindCommand<MouseEventArgs>()">Verify Hash</TelerikButton> Verified: @doc.DocumentHashIsValid</p>
                                        <p>Signature: @doc.Signature</p>
                                        <p>Signer: @doc.Signer</p>
                                        <p>Document Address: @doc.Address</p>
                                    </li>
                                }
                            </ul>
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>
            <h2>Approved</h2>
            <TelerikGrid Data="ViewModel.ApprovedMembershipProposals">
                <GridColumns>
                    <GridColumn Field="Id" Title="Id" />
                    <GridColumn Field="NewNation.Id" Title="Nation Address" />
                    <GridColumn Field="NewNation.Name" Title="Nation Name" />
                    <GridColumn Field="Duration" Title="Voting Experation Date" />
                    <GridColumn>
                        <Template>
                            <MembershipProposalVoteView ViewModel="(MembershipProposalViewModel)context" />
                            <ul>
                                @foreach (var doc in ((ProposalViewModel)context).Documents)
                                {
                                    <li>
                                        <a href="@doc.Url" target="_blank">@doc.Title</a>
                                        <p>Document Hash: @doc.DocumentHash <TelerikButton OnClick="doc.VerifyDocumentHash.BindCommand<MouseEventArgs>()">Verify Hash</TelerikButton> Verified: @doc.DocumentHashIsValid</p>
                                        <p>Signature: @doc.Signature</p>
                                        <p>Signer: @doc.Signer</p>
                                        <p>Document Address: @doc.Address</p>
                                    </li>
                                }
                            </ul>
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>
        }
    }
}
@code {
    protected SemaphoreSlim Slim { get; } = new SemaphoreSlim(0);
    protected SemaphoreSlim Slim2 { get; } = new SemaphoreSlim(0);
    protected string? SignedDocHash{ get; set; }
    protected string? SignedData{ get; set; }
    protected override Task OnInitializedAsync()
    {
        ViewModel.SignatureRequest.RegisterHandler(async data =>
        {
            await JSRun.InvokeVoidAsync("signTransaction", ViewModel.AccountNumber, data.Input.ContractAddress, data.Input.TXData, nameof(CallMemberRequestFin));
            await Slim.WaitAsync();
            data.SetOutput(SignedData ?? throw new InvalidDataException());
            SignedData = null;
        });
        ViewModel.SignData.RegisterHandler(async data =>
        {
            await JSRun.InvokeVoidAsync("signHash", ViewModel.AccountNumber, data.Input, nameof(CallDocHashFin));
            await Slim2.WaitAsync();
            data.SetOutput(SignedDocHash ?? throw new InvalidOperationException());
            SignedDocHash = null;
        });
        return base.OnInitializedAsync();
    }
    [JSInvokable("SetAccount")]
    public async Task SetAccount(string accountNumber)
    {
        ViewModel.AccountNumber = accountNumber;
    }
    [JSInvokable("CallMemberRequestFin")]
    public Task CallMemberRequestFin(string signedData)
    {
        SignedData = signedData;
        Slim.Release();
        return Task.CompletedTask;
    }
    [JSInvokable("CallDocHashFin")]
    public Task CallDocHashFin(string signedData)
    {
        SignedDocHash = signedData;
        Slim2.Release();
        return Task.CompletedTask;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var dotNetReference = DotNetObjectReference.Create(this);
            await JSRun.InvokeVoidAsync("SetDotNetObject", dotNetReference);
        }
    }
}
